Flask==0.12.2

pymessenger==0.0.7.0

gunicorn==19.6.0


h5py==2.10.0
jsonschema==3.0.2
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.1
numpy==1.17.3
pickleshare==0.7.5
Pillow==6.2.0
protobuf==3.10.0
pycosat==0.6.3
pyOpenSSL==19.0.0
pyparsing==2.4.2
pyrsistent==0.15.4
python-dateutil==2.8.0
requests==2.22.0
scipy==1.3.1
tb-nightly==1.14.0a20190603
tensorflow==2.0.0b1
tf-estimator-nightly==1.14.0.dev2019060501
urllib3==1.24.2
Werkzeug==0.16.0